<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>Juan - Shoes Store HTML Template</title>
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <!--=== All Plugins CSS ===-->
    <link href="assets/css/plugins.css" rel="stylesheet">
    <!--=== All Vendor CSS ===-->
    <link href="assets/css/vendor.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Modernizer JS -->
    <script src="assets/js/modernizr-2.8.3.min.js"></script>

    <!-- notification -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>

<body>

    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="ion-android-close"></i>
            </div>

            <div class="off-canvas-inner">
                <!-- search box start -->
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search Here...">
                        <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
                <!-- search box end -->

                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home version 01</a></li>
                                    <li><a href="index-2.html">Home version 02</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">pages</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title menu-item-has-children"><a href="#">column 01</a>
                                        <ul class="dropdown">
                                            <li><a href="shop.html">shop grid left
                                                    sidebar</a></li>
                                            <li><a href="shop-grid-right-sidebar.html">shop grid right
                                                    sidebar</a></li>
                                            <li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children"><a href="#">column 02</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="product-details-affiliate.html">product
                                                    details
                                                    affiliate</a></li>
                                            <li><a href="product-details-variable.html">product details
                                                    variable</a></li>
                                            <li><a href="product-details-group.html">product details
                                                    group</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children"><a href="#">column 03</a>
                                        <ul class="dropdown">
                                            <li><a href="cart.html">cart</a></li>
                                            <li><a href="checkout.html">checkout</a></li>
                                            <li><a href="compare.html">compare</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children"><a href="#">column 04</a>
                                        <ul class="dropdown">
                                            <li><a href="my-account.html">my-account</a></li>
                                            <li><a href="login-register.html">login-register</a></li>
                                            <li><a href="contact-us.html">contact us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><a href="#">shop</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><a href="#">shop grid layout</a>
                                        <ul class="dropdown">
                                            <li><a href="shop.html">shop grid left sidebar</a></li>
                                            <li><a href="shop-grid-right-sidebar.html">shop grid right sidebar</a></li>
                                            <li><a href="shop-grid-full-3-col.html">shop grid full 3 col</a></li>
                                            <li><a href="shop-grid-full-4-col.html">shop grid full 4 col</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">shop list layout</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-list-left-sidebar.html">shop list left sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
                                            <li><a href="shop-list-full-width.html">shop list full width</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">products details</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="product-details-affiliate.html">product details affiliate</a>
                                            </li>
                                            <li><a href="product-details-variable.html">product details variable</a>
                                            </li>
                                            <li><a href="product-details-group.html">product details group</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children "><a href="#">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                    <li><a href="blog-grid-full-width.html">blog grid no sidebar</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-details-audio.html">blog details audio</a></li>
                                    <li><a href="blog-details-video.html">blog details video</a></li>
                                    <li><a href="blog-details-left-sidebar.html">blog details left sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">Contact us</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->

                <!-- user setting option start -->
                <div class="mobile-settings">
                    <ul class="nav">
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="currency" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Currency
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="currency">
                                    <a class="dropdown-item" href="#">$ USD</a>
                                    <a class="dropdown-item" href="#">$ EURO</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="myaccount" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                    <a class="dropdown-item" href="my-account.html">my account</a>
                                    <a class="dropdown-item" href="login-register.html"> login</a>
                                    <a class="dropdown-item" href="login-register.html">register</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- user setting option end -->

                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <ul>
                            <li><i class="fa fa-mobile"></i>
                                <a href="#">0123456789</a>
                            </li>
                            <li><i class="fa fa-envelope-o"></i>
                                <a href="#">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-social-widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->

    <!-- main wrapper start -->
    <main style="margin-bottom: 30px;">
        <!-- breadcrumb area start -->
        <div style="background: #fafafa;
         margin-bottom: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  " style="padding: 13px;font-size: 14px;">
                        <span>Trang chủ /</span>
                        <span>Thanh toán</span>
                    </div>

                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- checkout main wrapper start -->
        <div class="checkout-page-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Checkout Billing Details -->
                    <div class="col-lg-8">
                        <div class="checkout-billing-details-wrap">
                            <h4 class="checkout-title">Thông tin giao hàng</h4>
                            <div class="billing-form-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Họ và tên</label>
                                            <input style="border-radius: 5px;background-color: white;" type="text"
                                                ng-model="bill.tenNguoiNhan" id="f_name" placeholder="Họ và tên"
                                                required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Email</label>
                                            <input style="border-radius: 5px;background-color: white;" type="text"
                                                ng-model="bill.email" id="f_name" placeholder="email" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Số điện thoại</label>
                                            <input style="border-radius: 5px;background-color: white;" type="text"
                                                ng-model="bill.sdtNguoiNhan" id="f_name" placeholder="Số điện thoại"
                                                required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Tỉnh/Thành phố</label>
                                            <select onchange="angular.element(this).scope().getAllDistrict()"
                                                style="height: 50px;" name="city" id="city"
                                                class="form-select"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Quận/huyện</label>
                                            <select onchange="angular.element(this).scope().getFullWardCode()"
                                                style="height: 50px;" name="city" id="district" class="form-select">
                                                <option value="">-- Chọn Quận/huyện --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Xã/phường</label>
                                            <select onchange="angular.element(this).scope().getFeeShipping()"
                                                style="height: 50px;" name="city" id="ward" class="form-select">
                                                <option value="">-- Chọn Xã/Phường --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label for="f_name" class="required">Địa chỉ</label>
                                            <input style="border-radius: 5px;background-color: white;" type="text"
                                                ng-model="bill.diaChi" id="f_name" placeholder="Nhập địa chỉ của bạn"
                                                required />
                                        </div>
                                    </div>
                                </div>

                                <div class="single-input-item">
                                    <label for="ordernote">Ghi chú</label>
                                    <textarea name="ordernote" style="border-radius: 5px;background-color: white;"
                                        ng-model="bill.ghiChu" id="ordernote" cols="30" rows="3"
                                        placeholder="ghi chú..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Order Summary Details -->
                    <div class="col-lg-4">
                        <div class="order-summary-details">
                            <h4 class="checkout-title">Thông tin đơn hàng</h4>
                            <div style="    padding-bottom: 1em;
                           border-color: #e1e1e1;">
                                <table>

                                    <tbody>
                                        <tr ng-repeat="cartDetail in cartDetails"
                                            style="margin-bottom: 10px;display: inline-block;">
                                            <td>
                                                <div style="   
                                                                width: 4.6em;
                                                                height: 4.6em;
                                                                border-radius: 8px;
                                                                background: #fff;
                                                                position: relative;
                                                            ">
                                                    <span
                                                        ng-repeat="img in getAllImagesByIDProductDetail(cartDetail.idSanPhamChiTiet.id)"></span>
                                                    <img style="width: 100%;
                                                                height: 100%;
                                                                position: relative;
                                                                overflow: hidden;
                                                                border-radius: 8px;"
                                                        id="image-{{cartDetail.idSanPhamChiTiet.id}}"
                                                        src="https://product.hstatic.net/1000383440/product/dscf9602_d0cce34da3014e24b355e6ee01c1c5c4_small.jpg"
                                                        alt="">
                                                    <span style="
                                                        font-size: 0.85714em;
                                                        font-weight: 500;
                                                        white-space: nowrap;
                                                        padding: 0.15em 0.78em;
                                                        border-radius: 2em;
                                                        background-color: rgba(153, 153, 153, 0.9);
                                                        color: #fff;
                                                        position: absolute;
                                                        right: -0.75em;
                                                        top: -0.75em;
                                                        z-index: 2;
                                                        width: 27px;
                                                        height: 27px;">
                                                        {{cartDetail.soLuong}}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <span style="margin-left: 20px;
                                                font-weight: 700;display: block;
                                                color: #4b4b4b;    margin-top: -10px;width: 238px;">
                                                    {{cartDetail.idSanPhamChiTiet.idSanPham.ten}}
                                                </span>
                                                <div style="display: flex; margin-left: 20px;">
                                                    <span style="  display: block;
                                                 font-size: 0.85714em;
                                                color: #969696;">
                                                        <label style="font-weight: 600;color: #333;">Màu sắc: </label>
                                                        {{cartDetail.idSanPhamChiTiet.idMauSac.ten}}
                                                    </span>
                                                    <span style="display: block; margin-left: 10px;
                                                 font-size: 0.85714em;
                                                color: #969696;">
                                                        <label style="font-weight: 600;color: #333;">Kích cỡ: </label>
                                                        {{cartDetail.idSanPhamChiTiet.idKichCo.kichCo}}</span>
                                                </div>
                                                <div style="display: flex; margin-left: 20px;">
                                                    <span style="  display: block;
                                                 font-size: 0.85714em;
                                                color: #969696;">
                                                        <label style="font-weight: 600;color: #333;">Thương hiệu:
                                                        </label>
                                                        {{cartDetail.idSanPhamChiTiet.idSanPham.idThuongHieu.ten}}
                                                    </span>

                                                </div>
                                            </td>
                                            <td style=" white-space: nowrap;">
                                                <span style="
                                                font-weight: 700;display: block;
                                                color: #f94c43;">
                                                    {{formatToVND( cartDetail.idSanPhamChiTiet.idDotGiamGia == null ?
                                                    cartDetail.soLuong * cartDetail.idSanPhamChiTiet.donGia :
                                                    cartDetail.soLuong * cartDetail.idSanPhamChiTiet.donGia * (100 -
                                                    cartDetail.idSanPhamChiTiet.idDotGiamGia.phanTramGiam) / 100) }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <!-- voucher -->
                            <div ng-if="voucher == null" style="    
                                border-top: 1px solid;
                                padding-top: 1.5em;
                                padding-bottom: 1em;
                                border-color: #e1e1e1;">
                                <div style="display: flex;justify-content: space-between;">
                                    <input type="text" id="code_voucher" placeholder="Nhập mã phiếu giảm giá" required
                                        style="
                                                            transition: all 0.2s ease-out;
                                                            background-color: white;
                                                            color: #333333;
                                                            border-radius: 4px;
                                                            display: block;
                                                            box-sizing: border-box;
                                                            width: 70%;
                                                            padding: 0.94em 2.8em 0.94em 0.8em;
                                                            word-break: normal;
                                                            border:1px solid #ccc;
                                                            height: 50px;
                                                        " ng-model="codeVoucher" />
                                    <button style="    
                                                        display: inline-block;
                                                        border-radius: 4px;
                                                        font-weight: 600;
                                                        box-sizing: border-box;
                                                        text-align: center;
                                                        cursor: pointer;
                                                        width: 28%;
                                                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                                                        position: relative;
                                                        background: #e3a51e ;
                                                        height: 50px;
                                                        color: white;" ng-click="checkVoucher()">Sử dụng</button>
                                </div>
                                <div ng-click="openVoucherModal()">
                                    <span style="    
                                     display: inline-block;
                                     color: #318dbb;
                                     font-weight: 500;
                                     cursor: pointer;
                                     font-size: 13px;" data-bs-toggle="modal" data-bs-target="#voucherModal">
                                        <svg width="18" height="15" viewBox="0 0 18 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M17.3337 5.3335V2.00016C17.3337 1.07516 16.5837 0.333496 15.667 0.333496H2.33366C1.41699 0.333496 0.675326 1.07516 0.675326 2.00016V5.3335C1.59199 5.3335 2.33366 6.0835 2.33366 7.00016C2.33366 7.91683 1.59199 8.66683 0.666992 8.66683V12.0002C0.666992 12.9168 1.41699 13.6668 2.33366 13.6668H15.667C16.5837 13.6668 17.3337 12.9168 17.3337 12.0002V8.66683C16.417 8.66683 15.667 7.91683 15.667 7.00016C15.667 6.0835 16.417 5.3335 17.3337 5.3335ZM15.667 4.11683C14.6753 4.69183 14.0003 5.77516 14.0003 7.00016C14.0003 8.22516 14.6753 9.3085 15.667 9.8835V12.0002H2.33366V9.8835C3.32533 9.3085 4.00033 8.22516 4.00033 7.00016C4.00033 5.76683 3.33366 4.69183 2.34199 4.11683L2.33366 2.00016H15.667V4.11683ZM9.83366 9.50016H8.16699V11.1668H9.83366V9.50016ZM8.16699 6.16683H9.83366V7.8335H8.16699V6.16683ZM9.83366 2.8335H8.16699V4.50016H9.83366V2.8335Z"
                                                fill="#318DBB"></path>
                                        </svg>
                                        Xem thêm mã giảm giá</span>
                                </div>

                            </div>

                            <div ng-if="voucher != null" style="margin-top: 10px;">
                                <div class="card"
                                    style="justify-content: space-between;display: flex;padding: 15px;position: relative;margin-bottom: 10px;">

                                    <div style="width: 80%;">
                                        <span style="
                                                display: inline-block;
                                                font-size: 10px;
                                                transform: translateY(-7px);
                                                ">
                                            Áp dụng thành công phiếu giảm giá
                                        </span>
                                        <span style="
                                                display: inline-block;
                                                color: #333;
                                                font-size: 10px;
                                                font-weight: 600;
                                                transform: translateY(-7px);
                                                ">
                                            {{voucher.ten}}
                                        </span>
                                        <div style="
                                                font-size: 10px;
                                                    ">
                                            Giảm
                                            <span style="
                                                    display: inline-block;
                                                    color: red;
                                                    font-size: 10px;
                                                    font-weight: 600;
                                                    ">{{voucher.phanTramGiam}}%</span>
                                            đơn tối thiểu
                                            <span style="
                                        display: inline-block;
                                        color: red;
                                        font-size: 10px;
                                        font-weight: 600;
                                        ">{{formatToVND(voucher.giaTriToiThieu)}}</span>
                                        </div>

                                    </div>

                                    <button class="btn btn-info" ng-click="removeVoucher()" style="
                                                    width: 40px;position: absolute;
                                                    right: 16px;
                                                    background-color: transparent;
                                                    border: none;
                                                    bottom: 10px;">
                                        <i class="ti ti-x" style="
                                            margin-left: -5px;
                                            font-size: 26px;"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- total -->
                            <div style="
                            border-top: 1px solid;
                            padding-top: 1.5em;
                            padding-bottom: 1em;
                            border-color: #e1e1e1;">

                                <table style="   
                             width: 100%;
                            border-collapse: collapse;
                            border-spacing: 0;
                            font-size: 1em;">
                                    <tbody style="margin-bottom: 10px;">
                                        <tr>
                                            <td>Tạm tính:</td>
                                            <td style="text-align: right;">
                                                <span style="    
                                            font-weight: 500;
                                            color: #4b4b4b;">{{formatToVND(subTotal)}}</span>
                                            </td>
                                        </tr>
                                        <tr style="margin-bottom: 10px;">
                                            <td>Phí vận chuyển:</td>
                                            <td style="text-align: right;">
                                                <span style="    
                                            font-weight: 500;
                                            color: #4b4b4b;">{{formatToVND(shipFee)}}</span>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                            <!-- total -->
                            <div style="
                              border-top: 1px solid;
                              padding-top: 1.5em;
                              padding-bottom: 1em;
                              border-color: #e1e1e1;">

                                <table style="   
                               width: 100%;
                              border-collapse: collapse;
                              border-spacing: 0;
                              font-size: 1em;">
                                    <tfoot>
                                        <td>Tổng cộng</td>
                                        <td style="
                                        text-align: right;
                                      font-size: 24px;
                                      font-weight: 600;
                                      letter-spacing: -0.04em;
                                      color: #f94c43;
                                      line-height: 1em;">
                                            {{formatToVND(total)}}</td>
                                    </tfoot>
                                </table>

                            </div>

                            <!-- pay method -->
                            <div style="padding: 14px 19px;
                             border-radius: 5px;
                             border:1px solid #e1e1e1;">

                                <div>
                                    <div style="margin-bottom: 10px;cursor: pointer;" ng-click="changePaymentMethod()">
                                        <input ng-checked="paymentMethod == 0" type="radio" name="payment_method"
                                            class="radio"> Thanh toán khi nhận hàng
                                        <div ng-if="paymentMethod == 0" style="    
                                    margin-left: 19px;
                                    font-size: 13px;
                                    color: #b1abab;">
                                            Quý khách sẽ thanh toán bằng tiền mặt khi nhận hàng.
                                        </div>
                                    </div>

                                    <div ng-click="changePaymentMethod()" style="cursor: pointer;">
                                        <input ng-checked="paymentMethod == 1" type="radio" name="payment_method"
                                            class="radio"> Chuyển khoản qua vnpay

                                        <div ng-if="paymentMethod == 1" style="    
                                    margin-left: 19px;
                                    font-size: 13px;
                                    color: #b1abab;">
                                            Quý khách sẽ được miễn phí ship khi sử dụng hình thức thanh toán chuyển
                                            khoản ngân hàng. (Áp dụng cho đơn hàng trên 200 triệu)
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <button style="    
                            display: inline-block;
                            border-radius: 4px;
                            margin-top: 20px;
                            font-weight: 600;
                            box-sizing: border-box;
                            text-align: center;
                            cursor: pointer;
                            width: 100%;
                            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                            position: relative;
                            background: #e3a51e;
                            height: 50px;
                            color: white;" ng-click="checkout()">
                                Thanh toán
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout main wrapper end -->
    </main>
    <!-- main wrapper end -->

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- list voucher modal -->
    <div class="modal fade" id="voucherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 20px;">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Chọn voucher</h5>
                    <button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Đóng"></button>
                </div>
                <div class="modal-body" style="padding: 20px;">
                    <label for="exampleInputEmail1" class="form-label">Mã voucher: </label>
                    <input placeholder="Nhập mã voucher...." style="height: 40px;margin-bottom: 10px;" type="text"
                        class="form-control" ng-model="code_voucher" id="exampleInputEmail1"
                        aria-describedby="emailHelp" ng-keyup="searchVoucher()">

                    <label for="exampleInputEmail1" class="form-label" ng-if="voucherPrivates.length !== 0">Voucher dành
                        riêng cho
                        bạn: </label>
                    <div class="card"
                        style="display: flex;justify-content: space-between;padding: 20px;position: relative;margin-bottom: 10px;"
                        ng-repeat="voucher in voucherPrivates">
                        <div style="width: 80%;font-size: 12px;">
                            <div>
                                <span style="color: #5D87FF;">[{{voucher.ma}}]</span>
                                <span style="
                    display: inline-block;
                    font-weight: 500;">
                                    {{voucher.ten}}
                                </span>
                                <button class="btn btn-info" style="
                    color: #f94c43;
                    background-color: rgb(238 238 238);
                    border-radius: 4px;
                    border: none;
                    padding: 4px;
                    font-size: 10px;">- {{voucher.phanTramGiam}}%</button>
                            </div>
                        </div>

                        <div>
                            <span style="display: inline-block;font-size: 10px;font-weight: 400; width: 100px;">Giá trị
                                tối
                                thiểu:</span>
                            <span
                                style="display: inline-block;font-size: 10px">{{formatToVND(voucher.giaTriToiThieu)}}</span>
                        </div>

                        <div>
                            <span style="display: inline-block;font-size: 10px;font-weight: 400; width: 100px;">Ngày kết
                                thúc:</span>
                            <span style="display: inline-block;font-size: 10px">{{voucher.ngayKetThuc| date : 'HH:mm
                                dd/MM/yyyy'}}</span>
                        </div>

                        <button class="btn btn-primary" style="
                        position: absolute;
                        right: 20px;
                        bottom: 32px;
                        display: inline-block;
                        border-radius: 4px;
                        font-weight: 600;
                        text-align: center;
                        background: #e3a51e ;
                        color: white;
                        border: none;
                      " ng-click="addVoucherToBill(voucher)" ng-if="voucher.soLanDung != 0">Chọn</button>
                        <button class="btn btn-danger" style="
                      position: absolute;
                      right: 20px;
                      bottom: 32px;
                      " disabled ng-if="voucher.soLanDung == 0">Hết voucher</button>
                    </div>

                    <label for="exampleInputEmail1" class="form-label" ng-if="voucherPrivates.length !== 0">Voucher
                        khác: </label>
                    <div class="card"
                        style="display: flex;justify-content: space-between;padding: 20px;position: relative; margin-bottom: 10px;"
                        ng-repeat="voucher in voucherPublics">
                        <div style="width: 80%;font-size: 12px;">
                            <div>
                                <span style="color: #5D87FF;">[{{voucher.ma}}]</span>
                                <span style="
                  display: inline-block;
                  font-weight: 500;">
                                    {{voucher.ten}}
                                </span>
                                <button class="btn btn-info" style="
                   color: #f94c43;
                    background-color: rgb(238 238 238);
                  border-radius: 4px;
                  border: none;
                  padding: 4px;
                  font-size: 10px;">- {{voucher.phanTramGiam}}%</button>
                            </div>
                        </div>

                        <div>
                            <span style="display: inline-block;font-size: 10px;font-weight: 400; width: 100px;">Giá trị
                                tối
                                thiểu:</span>
                            <span
                                style="display: inline-block;font-size: 10px">{{formatToVND(voucher.giaTriToiThieu)}}</span>
                        </div>

                        <div>
                            <span style="display: inline-block;font-size: 10px;font-weight: 400; width: 100px;">Ngày kết
                                thúc:</span>
                            <span style="display: inline-block;font-size: 10px">{{voucher.ngayKetThuc| date : 'HH:mm
                                dd/MM/yyyy'}}</span>
                        </div>

                        <button class="btn btn-primary" style="
                    position: absolute;
                    right: 20px;
                    bottom: 32px;
                    display: inline-block;
                    border-radius: 4px;
                    font-weight: 600;
                    text-align: center;
                    background: #e3a51e ;
                    color: white;
                    border: none;
                    " ng-click="addVoucherToBill(voucher)" ng-if="voucher.soLanDung != 0">Chọn</button>
                        <button class="btn btn-danger" style="
                    position: absolute;
                    right: 20px;
                    bottom: 32px;
                    " disabled ng-if="voucher.soLanDung == 0">Hết voucher</button>
                    </div>

                    <span ng-show="numPages!=0">
                        <uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage"
                            class="pagination-sm" previous-text="‹" next-text="›" first-text="«" last-text="»" style="
                width: 34%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
              " max-size="3" ng-change="pageChanged()"></uib-pagination>
                    </span>

                </div>
            </div>
        </div>
    </div>

    <!--=======================Javascript============================-->
    <!--=== All Vendor Js ===-->
    <script src="assets/js/vendor.js"></script>
    <!--=== All Plugins Js ===-->
    <script src="assets/js/plugins.js"></script>
    <!--=== Active Js ===-->
    <script src="assets/js/active.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>


</html>