
    .pagination{
      width:100%;
      border-radius:0px;
    }
   
   .pagination > li > a, .pagination > li > span{
     width:50%;
     display:block;
     text-align:center;
     border-radius:0px;
     margin-left:0px;
     border-width: 1px 0 0 1px;
 
   }
   
   .pagination.even > li:nth-child(even) > a, .pagination > li:nth-child(even) > span{
     border-right:solid 1px #DDDDDD;
   }
 
   .pagination.even > li:first-child > a, .pagination > li:first-child > span{
     border-radius:4px 0px 0px 0px;
   }
   
   .pagination.even > li:nth-child(2) > a, .pagination > li:first-child > span{
     border-radius:0px 4px 0px 0px;
   }
   
   .pagination.even > li:last-child > a, .pagination > li:last-child > span{
     border-bottom:solid 1px #DDDDDD;
     border-radius:0px 0px 4px 0px;
   }
   
   .pagination.even > li:nth-last-child(2) > a, .pagination > li:nth-last-child(2) > span{
     border-bottom:solid 1px #DDDDDD;
     border-radius:0px 0px 0px 4px;
   }
   
 
   
   .pagination.odd > li:nth-child(odd) > a, .pagination > li:nth-child(odd) > span{
     border-right:solid 1px #DDDDDD;
   }
 
   .pagination.odd > li:first-child > a, .pagination > li:first-child > span{
     border-radius:4px 4px 0px 0px;
     border-bottom:0px;
     width:100%;
   }
 
   .pagination.odd > li:last-child > a, .pagination > li:last-child > span{
     border-bottom:solid 1px #DDDDDD;
     border-radius:0px 0px 4px 0px;
   }
   
   .pagination.odd > li:nth-last-child(2) > a, .pagination > li:nth-last-child(2) > span{
     border-bottom:solid 1px #DDDDDD;
     border-radius:0px 0px 0px 4px;
   }

   
/* ======= Toast message ======== */

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pagination .disabled a{
  pointer-events: none;
  color: #777!important;
}

.pagination .active{
  background-color: #5D87FF;
}

.pagination .active a{
  color: white;
}

.pagination > li{
  border: 1px solid #ddd;
  padding: 7px 14px;
  border-right: none;
}

.pagination > li > a{
  color: #5D87FF;
}

.pagination > .pagination-prev{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination > .pagination-next{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ddd;
}


.OptionHead {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #2A3547;
  font-size: 14px;
}

.OptionHead i[class*="fa-chevron-down"] {
  transition: transform 0.25s ease-out;
  fill: white;
  color: #5c5e62;
  display: inline-block;
  font-size: 11px;
}

.active i[class*="fa-chevron-down"]{
  color: white;
}

.OptionBody {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}

.OptionContainer.open>.OptionBody {
  max-height: 1000px;
  transition: max-height 0.25s ease-in;
  overflow: auto;
  transition: transform 0.15s ease-in;
}

.OptionContainer.open>.OptionHead i[class*="fa-chevron-down"] {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(5, 63, 118);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 54, 102);
}

.GLOW{
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
      0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}


@-webkit-keyframes blink {
  100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
          0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

@keyframes blink {
  100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
          0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

.sub_menu_active{
  background-color: #5D87FF;
}

.sub_menu_active span{
  color: #fff!important;
}

.sub_menu_active:hover{
  background-color: #5D87FF!important;
  color: #fff!important;
}

.img svg {
  width: 100%;
}
.st0 {
  fill: none;
  stroke: url(#longPath_1_);
  stroke-width: 2.7079;
}

.st1 {
  fill: none;
  stroke: #fba440;
  stroke-width: 3;
  stroke-linecap: round;
}

.st2 {
  fill: #fba440;
}

.st3 {
  fill: #f6fbff;
  stroke: #fba440;
  stroke-width: 1.8052;
}

.st4 {
  fill: url(#SVGID_1_);
}

.st5 {
  fill: #ffffff;
}

.st6 {
  fill: #847c7c;
}

.st7 {
  fill: #f85e3a;
}

.st8 {
  fill: #f6fbff;
  stroke: #f85e3a;
  stroke-width: 1.8052;
}

.st9 {
  fill: url(#SVGID_2_);
}

.st10 {
  fill: none;
  stroke: #f85e3a;
  stroke-width: 3;
  stroke-linecap: round;
}

.st11 {
  fill: #ea2f64;
}

.st12 {
  fill: #f6fbff;
  stroke: #ea2f64;
  stroke-width: 1.8052;
}

.st13 {
  fill: url(#SVGID_3_);
}

.st14 {
  fill: none;
  stroke: #ea2f64;
  stroke-width: 3;
  stroke-linecap: round;
}

.st15 {
  fill: #2d81c0;
}

.st16 {
  fill: #f6fbff;
  stroke: #2d81c0;
  stroke-width: 1.8052;
}

.st17 {
  fill: url(#SVGID_4_);
}

.st18 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #847c7c;
}

.st19 {
  fill: none;
  stroke: #2d81c0;
  stroke-width: 3;
  stroke-linecap: round;
}

.st20 {
  fill: #76c04f;
}

.st21 {
  fill: #f6fbff;
  stroke: #76c04f;
  stroke-width: 1.8052;
}

.st22 {
  fill: url(#SVGID_5_);
}

.st23 {
  fill: none;
  stroke: #76c04f;
  stroke-width: 3;
  stroke-linecap: round;
}

.st24 {
  fill: #21cdc2;
}

.st25 {
  fill: #f6fbff;
  stroke: #21cdc2;
  stroke-width: 1.8052;
}

.st26 {
  fill: url(#SVGID_6_);
}

.st27 {
  fill: none;
  stroke: #847c7c;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st28 {
  fill: none;
  stroke: #847c7c;
  stroke-width: 3;
  stroke-linecap: round;
}

.st29 {
  fill: none;
  stroke: #21cdc2;
  stroke-width: 3;
  stroke-linecap: round;
}

.st30 {
  fill: url(#SVGID_7_);
}

.st31 {
  fill: #b92fea;
}

.st32 {
  fill: #f6fbff;
  stroke: #b92fea;
  stroke-width: 2;
}

.st33 {
  fill: url(#SVGID_8_);
}

.st34 {
  fill: none;
  stroke: #b92fea;
  stroke-width: 3;
  stroke-linecap: round;
}

.st35 {
  fill: none;
  stroke: url(#dottedPath_1_);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 6, 6;
}
g[id^="group"] {
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
  opacity: 0;
  transform: translate(-20px, -100px) rotate(100deg);
  transform-box: fill-box;
  transform-origin: center;
}
g[id^="point"]:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
g[id^="point"]:hover g[id^="no"] * {
  cursor: pointer;
  transform: scale(1.7) !important;
  transform-origin: center;
}
g[id^="no"] {
  transition: all 0.3s ease-in-out;
  transform-box: fill-box;
  transform-origin: center;
  animation: zoomIn 0.6s ease-in forwards;
  transform: scale(0);
  animation-delay: 1.5s;
}

@keyframes zoomIn {
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

g[id^="point"] {
  transition: all 0.3s ease-in-out !important;
  transform-box: fill-box;
  transform-origin: center;
}

g[id^="point"]:hover g[id^="group"] * {
  transform: translateY(-15px) !important;
  transform-origin: center;
}

#group1 {
  animation: fadeDown 0.3s ease-in forwards;
  animation-delay: 0.3s;
}
#group2 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 0.6s;
}
#group3 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 0.7s;
}

#group4 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 0.8s;
}
#group5 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 0.9s;
}
#group6 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 1s;
}
#group7 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 1.1s;
}
#group8 {
  animation: fadeDown 0.5s ease-in forwards;
  animation-delay: 1.2s;
}

@keyframes fadeDown {
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

path#longPath {
  stroke-width: 3px;
  stroke-dasharray: 90;
  animation: DrawLine 2s ease-in-out forwards;
}
@keyframes DrawLine {
  100% {
    stroke-dasharray: 1200px;
    stroke-width: 10px;
    transform: translateY(0px);
  }
}

g[id^="group"] + path[class^="st"] {
  animation: DrawLineV 3s linear forwards;
  stroke-width: 0px;
  stroke-dasharray: 10px;
  animation-delay: 0.5s;
}
@keyframes DrawLineV {
  100% {
    stroke-dasharray: 120px;
    stroke-width: 5px;
    stroke-dasharray: 100px !important;
  }
}

[id^="text"] {
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
#text1 {
  animation: showText 0.6s ease forwards;
  animation-delay: 0.5s;
}

#text2 {
  animation: showText 0.6s ease forwards;
  animation-delay: 0.6s;
}
#text3 {
  animation: showText 0.6s ease forwards;
  animation-delay: 2.7s;
}
#text3 {
  animation: showText 0.6s ease forwards;
  animation-delay: 0.8s;
}
#text4 {
  animation: showText 0.6s ease forwards;
  animation-delay: 0.9s;
}

#text5 {
  animation: showText 0.6s ease forwards;
  animation-delay: 1s;
}
#text6 {
  animation: showText 0.6s ease forwards;
  animation-delay: 1.1s;
}

#text7 {
  animation: showText 0.6s ease forwards;
  animation-delay: 1.2s;
}

#text8 {
  animation: showText 0.6s ease-in-out forwards;
  animation-delay: 1.3s;
}

@keyframes showText {
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
svg * {
  transform-box: fill-box;
  transition: all 0.3s ease-in-out;
}

#dottedPath {
  animation: otherTasks 2s linear forwards;
  animation-delay: 2s;
  opacity: 0;

  stroke-width: 7px;
  stroke-dasharray: 10px;
  stroke-dashoffset: 100;
}
@keyframes otherTasks {
  100% {
    opacity: 1;
    stroke-dashoffset: 40px;
    stroke-dasharray: 20px;
  }
}

.spinner{
  position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background-color: red; */
    border: 5px solid #ccc;
    border-top-color: #007bff;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin{
    0%{
      transform : rotate(0deg);
    }
    100%{
      transform : rotate(360deg);
    }
  }

  
.paper {
  appearance: none;
  position: absolute;;
  width: 164px;
  height: 23px;
  background: 
    linear-gradient(#0003, #0000 10%) 0 0 / 50% 100% no-repeat,
    linear-gradient(90deg, #0000 40%, #0001 50%, #0000 0),
    linear-gradient(90deg, #15c 50%, #0000 0),
    repeating-linear-gradient(#0000 0 10%, #0003 0 30%) 0 0 / 51% 100% no-repeat
    ;
  font-size: 25px;
  border-radius: 2em;
  transform-style: preserve-3d;
  
  &::before {
    content: " Giao hàng         Tại quầy";
    font-size: 10px;
    display: grid;
    place-items: center;
    white-space: pre;
    inset: 0;
    height: 100%;
    color: #fff0;
    background: purple;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #ddd 50%, #333 0);
    font-weight: bold;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 49%;
    height: 95%;
    left: 50%;
    top: 50%;
    border-radius: 3em 0 0 3em;
    transform: perspective(2000px) translate(-100%, -50%) rotate3d(0,1,0,1deg);
    transform-origin: 100% 50%;
    background-image: 
      linear-gradient(to bottom right, #0001, #fff1);
    background-color: #ccc;
    transition: transform 0.25s linear, background-color 0s, box-shadow 0.25s;
    transition-delay: 0s,0.125s, 0s;
    box-shadow: -0.1em 0 0.1em -0.02em #0003
  }
  
  &:hover {
    &::after {
       transform: perspective(2000px) translate(-100%, -50%) rotate3d(0,1,0,25deg);
      box-shadow: -0.125em 0 0.1em -0.02em #0002
    }
  }
  
  &:checked {
    &::after {
      transform: perspective(2000px) translate(-100%, -50%) rotate3d(0,1,0,179deg);
      background-color: #15c;
      box-shadow: -0.05em 0 0.1em -0.01em #0003
    }
    
    &:hover {
      &::after {
        transform: perspective(2000px) translate(-100%, -50%) rotate3d(0,1,0,165deg);
        box-shadow: -0.1em 0 0.1em -0.01em #0002
      }
    }
  }
  
  &[disabled] {
    opacity: 0.25;
  }
}

@media print {
  .paper {
    &, &::before, &::after {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media (prefers-reduced-motion) {
  .paper {
    &, &::before, &::after {
      transition: none !important;
      animation: none !important;
    }
  }
}