  <div >
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">

          <!-- bread crumbs -->
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <i class="ti ti-home-2"></i> / <span style="color: black;display: inline-block;">Danh sách sản phẩm</span>
            </div>
          </div>

          <!-- searh bar -->
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">

            <div style="display: flex; justify-content: space-between;width: 63%;">

              <div class="mb-3 mb-sm-0">
                <div style="color: black;margin-bottom: 5px;">
                  Nhập tên sản phẩm
                </div>
                <input style="width: 262px; height: 40px;" type="text" id="searchKey" class="form-control"
                  ng-model="keyProduct" ng-keyup="fillterByProductKey()" placeholder="Tìm kiếm sản phẩm theo tên,...">
              </div>

            </div>

            <div>
              <a href="#!them-san-pham" type="button" class="btn btn-primary m-1"
                style="height: 40px;margin-bottom: 5px;">
                <i class="ti ti-circle-plus" style="
                            display: inline-block;
                            font-size: 18px;
                            transform: translateY(2px);
                        "></i>
                Thêm sản phẩm</a>
            </div>

          </div>

          <!-- table -->
          <div class="table-responsive">
            <table class="table">
              <thead class="text-dark fs-4" style="background-color: rgb(218 212 212 / 24%)">
                <tr>
                  <th style="width: 7%;">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">#</h6>
                  </th>
                  <th class="border-bottom-0" style="width: 18%;">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Ảnh</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Tên sản phẩm</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Số lượng</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Giá bán</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Kích thước</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Màu sắc</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Trạng thái</h6>
                  </th>

                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Hành động</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in productDetails.content">
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0"> {{$index + 1}}</h6>
                  </td>
                  <td class="border-bottom-0" style="position: relative;">
                    <img ng-repeat="image in getAllImagesByIDProductDetail(product.id)" src="{{image.duongDan}}"
                      style="width: 100px;height: 100px;">
                    <div id="image-{{product.id}}">

                    </div>
                    <div class="ribbon" ng-if="product.idDotGiamGia !== null">
                      <span>- {{product.idDotGiamGia.phanTramGiam}}%</span>
                    </div>

                    <div class="bagde-flag-wrap" ng-if="product.idDotGiamGia !== null" hidden>
                      <a href="#" class="bagde-flag"> - {{product.idDotGiamGia.phanTramGiam}} % </a>
                    </div>

                  </td>
                  <td class="border-bottom-0">
                    {{product.idSanPham.ten}}
                  </td>
                  <td class="border-bottom-0">
                    {{product.soLuongTon}}
                  </td>
                  <td class="border-bottom-0">
                    {{formatToVND(product.donGia)}}
                  </td>
                  <td class="border-bottom-0">
                    <span class="fw-normal">{{product.idKichCo.kichCo}}</span>
                  </td>
                  <td class="border-bottom-0">
                    <span class="fw-normal">{{product.idMauSac.ten}}</span>
                  </td>
                  <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2" ng-if="product.trangThai == 0">
                      <span class="badge bg-danger rounded-3 fw-semibold" style="    
                                padding: 11px;
                                font-size: 11px;">Ngừng kinh doanh</span>
                    </div>

                    <div class="d-flex align-items-center gap-2" ng-if="product.trangThai == 1">
                      <span class="badge bg-primary rounded-3 fw-semibold" style="    
                              padding: 11px;
                              font-size: 11px;">Đang kinh doanh</span>
                    </div>

                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">
                      <a ng-href="#!sua-nhan-vien/{{employee.id}}">
                        <i style="
                              display: inline-block;
                              font-size: 23px;  
                              color: #d4d42e;" class="ti ti-edit"></i>
                      </a>

                    </h6>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <span ng-show="numPages!=0">
            <uib-pagination items-per-page="itemsPerPageProductDetail" total-items="totalItemsProductDetail" ng-model="currentPageProductDetail"
              class="pagination-sm" previous-text="‹" next-text="›" first-text="«" last-text="»" style="
                  width: 16%;
                  margin-left: auto;
                  margin-right: auto;
                  " max-size="3" ng-change="pageChangedProductDetail()"></uib-pagination>
          </span>
        </div>
      </div>
    </div>

  </div>