
<div ng-app="voucher">
    <div class="row" ng-controller="voucherController">
        <div class="col-lg-12 d-flex align-items-strech">
          <div class="card w-100">
            <div class="card-body">
  
              <!-- bread crumbs -->
              <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0" >
                    <i class="ti ti-home-2"></i> / <span style="color: black;display: inline-block;">Danh sách sản phẩm</span>
                </div>
              </div>
  
              <!-- searh bar -->
              <div class="d-sm-flex d-block align-items-center justify-content-between mb-9" >
  
                <div style="display: flex; justify-content: space-between;width: 63%;">
  
                    <div class="mb-3 mb-sm-0" >
                        <div style="color: black;margin-bottom: 5px;">
                            Nhập tên sản phẩm
                        </div>
                        <input style="width: 262px; height: 40px;" 
                        type="text" 
                        id="employeeKey"
                        class="form-control" 
                        ng-model="key"
                        ng-keyup="fillterByEmployeeKey()"
                        placeholder="Tìm kiếm sản phẩm theo tên,...">
                    </div>
  
                </div>
               
                <div>
                    <a href="#!them-san-pham" type="button" class="btn btn-primary m-1" style="height: 40px;margin-bottom: 5px;"> 
                        <i class="ti ti-circle-plus" 
                        style="
                            display: inline-block;
                            font-size: 18px;
                            transform: translateY(2px);
                        "></i> 
                        Thêm sản phẩm</a>
                </div>
  
              </div>
  
              <!-- table -->
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-dark fs-4" style="background-color: rgb(218 212 212 / 24%)">
                      <tr>
                        <th style="width: 7%;">
                          <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;" >#</h6>
                        </th>
                        <th class="border-bottom-0" style="width: 18%;">
                          <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Tên</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Số lượng</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Thể loại</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Thương hiệu</h6>
                          </th>
                          <th class="border-bottom-0">
                              <h6 class="fw-semibold mb-0" style="border-right: 1px solid #b1acac;">Trạng thái</h6>
                          </th>
                    
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0" >Thao tác</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="employee in employees.content">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"> {{$index + 1}}</h6></td>
                        <td class="border-bottom-0">
                            <img 
                              style="
                                width: 80%;
                                border-radius: 10px;"
                              src="{{employee.avatar}}" 
                              alt="">                          
                        </td>
                        <td class="border-bottom-0">
                            <span class="fw-normal">{{employee.ten}}</span>                          
                        </td>
                        <td class="border-bottom-0">
                            <span class="fw-normal">{{employee.soDienThoai}}</span>                          
                        </td>
                        <td class="border-bottom-0" >
  
                          <div class="d-flex align-items-center gap-2" ng-if="employee.chucVu.ma == 0">
                              <span class="badge bg-warning rounded-3 fw-semibold"
                                  style="    
                                  padding: 11px;
                                  font-size: 11px;"
                               >Ngừng kinh doanh</span>
                          </div>
  
                          <div class="d-flex align-items-center gap-2" ng-if="employee.chucVu.ma == 1">
                            <span class="badge bg-primary rounded-3 fw-semibold"
                                style="    
                                padding: 11px;
                                font-size: 11px;"
                             >Đang kinh doanh</span>
                          </div>
  
                        </td>
  
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4">
                            <a ng-href="#!sua-nhan-vien/{{employee.id}}" >
                              <i   
                              style="
                              display: inline-block;
                              font-size: 23px;  
                              color: #d4d42e;"
                              class="ti ti-edit"></i>
                            </a>
                            
                            <!-- <a ng-click="changeStatus(customer.id, customer.trangThai)">
                              <i id="change_status"
                              style="
                              display: inline-block;
                              font-size: 23px;
                              color: #f05119;
                              margin-left: 10px;"
                              class="ti ti-calendar-off"></i>
                          </a> -->
                          </h6>
                        </td>
                      </tr> 
                    
                    </tbody>
                  </table>
                </div>
  
                <span  ng-show="numPages!=0">
                  <uib-pagination items-per-page="itemsPerPage" 
                  total-items="totalItems" 
                  ng-model="currentPage" 
                  class="pagination-sm" 
                  previous-text="‹" 
                  next-text="›" first-text="«" last-text="»" 
                  style="
                  width: 16%;
                  margin-left: auto;
                  margin-right: auto;
                  " 
                  max-size="3"
                  ng-change="pageChanged()"></uib-pagination>
                </span>
            </div>
          </div>
        </div>
     
      </div>
  </div>
  
  
  